.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    margin-bottom: 5rem;
    padding: auto;
    padding: 0 16rem;
}

.l-1 {
    display: flex;
    align-items: center;
    gap: 1rem;

    svg {
        color: var(--text-color);
        font-size: 2.3rem;
        text-align: center;
        margin-bottom: 0.5rem;
    }
}

.title {
    color: var(--text-color);
    font-size: 2.3rem;
    margin-bottom: 1rem;
}

.actions {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 3rem;
    background-color: #1e2545;
    border-radius: 0 0 1rem 1rem;
    transform: translateY(-10px);
    padding: 1rem 2rem;

    .action {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: var(--text-color);
        font-size: 1.6rem;

        &:hover {
            cursor: pointer;
            color: var(--primary-color);
        }
    }
}
