.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.video-wrapper {
    width: 100%;
    position: relative;
    padding-top: 56.25%; // 16:9 aspect ratio
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
