@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Inter:wght@300;400;600&display=swap');

:root {
    --primary: #fff;
    --primary-text: #ffd875;

    --text-color: #ffffff;

    --font-family: 'Montserrat', sans-serif;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 2rem;
    line-height: 1.5;
    text-rendering: optimizeLegibility;
    background-color: #191b24;
}
a {
    text-decoration: none !important;
    color: #fff;
}

button,
hr,
input,
[tabindex] {
    caret-color: var(--primary);
    border: none;
    outline: none;
}

hr {
    height: 0;

    margin: 0 0 8px 0;
    border-top: 1px solid rgb(255, 255, 255, 0.2);
}
