.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 60rem;
    border-radius: 8px;
    padding-top: 8px;
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0 2px 12px;
    min-height: 100px;
}
