.wrapper {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    max-width: 1900px;
}

.move-top {
    position: fixed;
    right: 5rem;
    bottom: 5rem;
    animation: fade-in 0.3s linear;
}

@keyframes fade-in {
    from {
        opacity: 0;
        transform: translateY(3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
