.wrapper {
    position: fixed;
    width: 100%;
    height: 9rem;
    padding: 0 32px 0 32px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.wrapper.scroll {
    height: 7rem;
    background-color: #0f111a;
}

.logo {
    cursor: pointer;

    img {
        width: 15rem;
        height: 5.5rem;
    }
}

// Search
.search {
    width: 37rem;
    height: 45px;

    .search-elements {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
    }
}

.search-icon {
    position: absolute;
    padding: 3px;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    z-index: 100;
    cursor: pointer;
}

.search-input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 7px 48px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid transparent;
    color: #fff;

    &::placeholder {
        color: #ffffff;
        opacity: 1;
    }

    &:not(:placeholder-shown) ~ .remove-icon {
        display: block;
    }

    &:focus {
        border-color: #fff;
    }
}

.remove-icon {
    position: absolute;
    padding: 3px;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

// Navigation
.el-group {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: auto;
    gap: 1.5rem;
}

// .flex-grow-1 {
//     width: 15.5rem;
// }

.main-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;

    .menu-item {
        white-space: nowrap;
        padding: 0 0.75rem;
        font-size: 1.4rem;

        a {
            &:hover {
                color: var(--primary-text);
            }
        }
    }
}

.app-download {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 3rem;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 15%;
        height: 80%;
        width: 1px;
        background-color: #fff4;
    }
}

.app-download-icon {
    margin-top: 3px;
    margin-right: 10px;
}

.app-download-text {
    display: flex;
    flex-direction: column;

    span {
        font-size: 12px;
        color: #fff;
    }
    strong {
        font-size: 1.4rem;
        color: #fff;
    }
}

// User
.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 1.5rem;

    .notification {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 0.5px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .notification-icon {
            color: #fff;
            font-size: 1.4rem;
        }
    }
}

.user {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    display: flex;
    opacity: 0.8;

    &:hover {
        opacity: 1;
    }

    .avatar-img {
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
    }
}

.arrow-down {
    color: #fff;
    font-size: 1.6rem;
}
.btn {
    padding-left: 3rem;
}

// animate
