.wrapper {
    position: fixed;
    width: 100%;
    height: 9rem;
    padding: 0 32px 0 32px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    z-index: 999;
}

.wrapper.scroll {
    height: 7rem;
    background-color: #0f111a;
}

.logo {
    cursor: pointer;

    img {
        width: 15rem;
        height: 5.5rem;
    }
}

// Search
.search {
    width: 37rem;
    height: 45px;

    .search-elements {
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
    }
}

.search-icon {
    position: absolute;
    padding: 3px;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: bold;
    color: var(--text-color);
    opacity: 0.5;
    z-index: 100;
    cursor: pointer;
}

.search-input {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 7px 48px;
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 0.5rem;
    font-size: 1.4rem;
    font-weight: 500;
    border: 1px solid transparent;
    color: #fff;

    &::placeholder {
        color: #ffffff;
        opacity: 1;
    }

    &:not(:placeholder-shown) ~ .remove-icon {
        display: block;
    }

    &:not(:placeholder-shown) ~ .search-icon {
        opacity: 1;
    }

    &:focus {
        border-color: #fff;
    }
}

.remove-icon {
    position: absolute;
    padding: 3px;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    font-size: 1.6rem;
    color: #fff;
    cursor: pointer;
    display: none;
}

// Navigation
.el-group {
    display: flex;
    justify-content: space-between;
    flex: 1;
    margin-left: auto;
    gap: 1.5rem;
}

// .flex-grow-1 {
//     width: 15.5rem;
// }

.main-menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex: 1;

    .menu-item {
        position: relative;
        white-space: nowrap;
        padding: 0 0.75rem;
        font-size: 1.4rem;

        a {
            display: flex;
            align-items: center;
            gap: 5px;

            &:hover {
                color: var(--primary-text);
            }
        }
    }

    .menu-item-toggle {
        display: flex;
        align-items: center;
        gap: 5px;
        color: var(--text-color);
        cursor: pointer;

        &:hover {
            color: var(--primary-text);
        }
    }
}

// dropdown for menu item genres
.dropdown-list {
    width: 52rem;
    height: 65rem;
    background-color: rgba(15, 17, 26, 0.7);
    padding: 8px;
    border-radius: 1rem;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    z-index: 100;

    .dropdown-item {
        cursor: pointer;
        padding: 2px 1.6rem;
        color: var(--text-color);
        overflow: hidden;
        border-radius: 0.5rem;
        &:hover {
            background-color: #212529;
        }
        span {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

// dropdown for menu item nations
.dropdown-list-2 {
    width: 16.4rem;
    height: 42rem;
    padding: 8px 0;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgba(15, 17, 26, 0.7);

    .dropdown-item-2 {
        cursor: pointer;
        padding: 5px 2rem;
        color: var(--text-color);
        overflow: hidden;
        &:hover {
            background-color: #212529;
        }
        span {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
// dropdown for menu item nations
.dropdown-list-3 {
    width: 16.4rem;
    height: 12.5rem;
    padding: 8px 0;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    background-color: rgba(15, 17, 26, 0.7);

    .dropdown-item-3 {
        cursor: pointer;
        padding: 5px 2rem;
        color: var(--text-color);
        overflow: hidden;
        &:hover {
            background-color: #212529;
        }
        span {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

// dROPDOWN FOR USER MENU
.user-dropdown {
    display: flex;
    flex-direction: column;
    width: 20rem;
    height: auto;
    background-color: #2b3047;
    border-radius: 0.5rem;
    padding: 8px 0;

    .username {
        font-size: 1.6rem;
        color: var(--text-color);
        padding: 0 16px 6px 16px;
    }
}

.user-menu-2 {
    display: flex;
    flex-direction: column;
    padding: 8px 0;

    .user-menu-item {
        padding: 10px 16px;
        font-size: 14px;
        color: var(--text-color);
        cursor: pointer;

        &:hover {
            background-color: #ffffff05;
        }

        span {
            margin-left: 1rem;
        }
    }
}

.user-logout {
    padding: 0.8rem 1.7rem;
    font-size: 1.4rem;
    color: var(--text-color);
    cursor: pointer;

    &:hover {
        background-color: #ffffff05;
    }

    span {
        margin-left: 1rem;
    }
}
// App Download
.app-download {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 3rem;
    cursor: pointer;

    &::after {
        content: '';
        position: absolute;
        right: 0;
        top: 15%;
        height: 80%;
        width: 1px;
        background-color: #fff4;
    }
}

.app-download-icon {
    margin-top: 3px;
    margin-right: 10px;
}

.app-download-text {
    display: flex;
    flex-direction: column;

    span {
        font-size: 12px;
        color: #fff;
    }
    strong {
        font-size: 1.4rem;
        color: #fff;
    }
}

// User
.user-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-left: 1.5rem;

    .notification {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        border: 0.5px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .notification-icon {
            color: #fff;
            font-size: 1.4rem;
        }
    }
}

.user {
    padding: 5px 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    border: 2px solid #fff;
    overflow: hidden;
    display: flex;
    opacity: 1;

    &:hover {
        opacity: 0.8;
    }

    .avatar-img {
        width: 3.8rem;
        height: 3.8rem;
        border-radius: 50%;
    }
}

.arrow-down {
    color: #fff;
    font-size: 1.6rem;
}
.btn {
    padding-left: 3rem;
}

// animate
