.wrapper {
    position: relative;
    width: 100%;
    height: 6rem;
    background-color: var(--background-color);
    // background-color: white;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu__toogle {
    color: var(--text-color);
    font-size: 2.5rem;
    cursor: pointer;
    margin-left: 1rem;

    .icon--red {
        color: red;
        height: 2.2rem;
    }
}

.logo {
    width: 12rem;
    height: 4rem;
    margin-left: 1.5rem;

    img {
        width: 100%;
        height: 100%;
    }
}

.search {
    margin-right: 1rem;
    .icon {
        color: var(--text-color);
        cursor: pointer;
    }
}

.menu__list {
    .container {
        z-index: 99;
        margin-top: 2rem;
        position: absolute;
        width: 36rem;
        height: 21rem;
        background-color: var(--background-color-7);
        border-radius: 1rem;
        padding: 1.5rem;
    }
}

.btn {
    display: flex;
    gap: 1rem;

    .btn__login,
    .btn__register {
        cursor: pointer;
        flex: 1;
    }
}

.nav {
    margin-top: 2rem;

    .list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding-left: 0.5rem;

        .item {
            font-size: 1.4rem;
            font-weight: 600;
        }
    }
}
